# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*
.docker/

# Git
.git/
.gitignore

# Build output
speedtest-exporter

# Logs
*.log

# Test output
coverage.txt
profile.out
